.App{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(194,194,214);
}

.container{
  height: 55%;
  width: 23%;
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: .2rem;
  color: white;
}